.pages-container {
  display: flex;
  justify-content: center;
  align-items: center;

  &.border-fff {

    .btn-next,
    .btn-prev,
    .el-input__inner {
      border-color: rgba(255, 255, 255, 0.2) !important;
    }

    .el-pager {
      li {
        border-color: rgba(255, 255, 255, 0.2) !important;
      }
    }
  }

  .el-pagination {
    background: none;

    button {
      &:disabled {
        display: none;
      }
    }

    .btn-next,
    .btn-prev {
      padding: 0;
      border: 1px solid $light-border-color;
      color: $color-text;
      background: none;
    }

    .btn-prev {
      margin-right: 5px;
    }

    .el-pager {
      li {
        margin-right: 5px;
        border: 1px solid $light-border-color;
        color: $color-text;
        background: none;

        &.active {
          color: $color-text-highlight;
        }
      }
    }

    .el-input__inner {
      color: $color-text;
      border-color: $light-border-color;
      background: none;
    }
  }
}

.btn-mini {
  padding: 6px 12px;
  border: 1px solid $btn-border-color;
  border-radius: 2px;
  cursor: pointer;
  transition: background-color 1s;

  .iconfont {
    margin-right: 2px;
    font-size: $font-size-small;
  }

  &.active {
    color: $color-text-highlight;
    border-color: $color-text-highlight;
  }

  &:hover {
    background-color: rgba(255, 255, 255, 0.1);
  }
}

.cover-hover-bg {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(#000, 0);
  transition: background-color 0.3s;

  &:hover {
    background-color: rgba(#000, 0.2);
  }

  .item-play-icon {
    position: absolute;
    cursor: pointer;

    &:hover {
      color: $color-text-highlight;
      transition: color 0.3s;
    }

    .iconfont {
      font-size: $iconfont-size-medium;
    }
  }
}

.singer {
  .singer-item {
    cursor: pointer;

    &:hover {
      color: $color-text-highlight;
    }

    &:hover::before {
      color: #fff;
    }

    &:before {

      content: '/';
      margin: 0 2px;
    }

    &:first-child:before {
      content: '';
    }
  }
}

.el-progress-bar {
  .el-progress-bar__outer {
    background-color: $progress-bg;
  }
}

.play-mode.el-popover.el-popper {
  min-width: 0;
  padding: 0;
  border-radius: 1px;

  .play-mode-list {
    li {
      padding: 10px 20px;
      border-bottom: 1px solid $color-text-eee;
      cursor: pointer;

      &:hover {
        background: $color-text-eee;
      }

      .iconfont {
        margin-right: 6px;
      }
    }
  }
}

.player-wrapper {
  .el-slider {
    .el-slider__runway {
      height: 2px;
      margin: 0;
      background-color: $progress-bg;

      .el-slider__bar {
        height: 2px;
        background-color: $color-text-highlight;
      }

      .el-slider__button-wrapper {
        width: 12px;
        height: 12px;
        top: -7px;
        transform: translateX(0);

        .el-slider__button {
          width: 100%;
          height: 100%;
          border: none;
          background-color: $color-text-highlight;
        }
      }
    }
  }
}

.iconfont.icon-xihuan {
  color: #ff5f5f;
}

.el-loading-mask {
  z-index: 1800 !important;
}

.el-scrollbar__wrap {
  margin-right: -19px!important;
}