//定义常量 宽高
$menu-width: 230px;
$play-list-width: 300px;
$player-height: 70px;
$control-height: 40px;
$music-content-height: calc(100% - #{$control-height});
$p-line-height: 18px;
$tag-height: 30px;

// 颜色定义规范
$color-text:#fff;
$color-text-dark: #6e99a5;
$color-text-highlight: #48e3f6;
$color-text-eee: #eee;
$color-text-hint: #ccc;
$color-background: #0c4154;
$color-black: #000;
$color-error: red;

$hover-bg: #3a6a7c;
$hover-bg-hint: rgba(#3a6a7c, 0.2);
$tag-bg: #275767;
$light-border-color: #2d5a6d;
$btn-border-color: #446b7b;
$music-content-bg: #18495c;
$detail-bg: #1b4f63;
$white-bg: #fff;
$progress-bg: #406978;
$icon-nv-color: #e38ed0;
$icon-nan-color: #91dbff;

// 字体大小规范
$font-size-small: 12px;
$font-size-medium: 14px;
$font-size-medium-x: 16px;
$font-size-large: 18px;
$font-size-large-x: 20px;
$iconfont-size-mini: 34px;
$iconfont-size-medium: 38px;
$iconfont-size-medium-x: 42px;